body {
  font-family: 'Helvetica Neue', sans-serif;
  background-image: url("https://cdn.glitch.global/bec2ef73-e6da-4e87-9aa6-4f01ec436114/OIG4.jfif?v=1717860800222");
/*   margin: 2em; */
  background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.headline1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.custom-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.divider {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.form-group {
  margin-bottom: 20px;
}

.headline {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.custom-input,
.custom-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.custom-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #0056b3;
}
