/* CSS files add styling rules to your content */

body {
  /*   font-family: helvetica, arial, sans-serif; */
  margin: 2em;
}

.headline {
  font-family: Monospace;
  color: #000000;
  font-size: 2vw;
}

#playbutton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2vw;
}
