/* CSS files add styling rules to your content */

body {
  background-image: url("https://cdn.glitch.com/bec2ef73-e6da-4e87-9aa6-4f01ec436114%2Fbackground.jpg?v=1588947183298");
  margin: 2em;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 3vw;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  left: 50%;
  margin-top: 30rem;
/*   margin: 0; */
/*   -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
}

label,
div {
  font-family: Arial;
  color: #171A21;
  font-weight: bold;
  font-size: 1.02rem;
}

#playbutton {
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
#form{
/*   position: absolute; */
  margin: 15vw;
/*   -ms-transform: translate(-50%, -50%); */
/*   transform: translate(-50%, -50%); */
}