/* CSS files add styling rules to your content */

body {
  background-image: url("https://cdn.glitch.com/bec2ef73-e6da-4e87-9aa6-4f01ec436114%2FVector-multilayer-modern-background-04.jpg?v=1588967038036");
/*   margin: 2em; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.headline1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 3rem;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  left: 50%;
  top: 5rem;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

label,
div {
  font-family: Arial;
  color: #171A21;
  font-weight: bold;
  font-size: 1.02rem;
}

#playbutton {
  margin-top: 5rem;
  position: absolute;
  /*   top: 3rem; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
#form {
  /*   position: absolute; */
  margin: 0.2rem;
  margin-top: 10rem;
  /*   -ms-transform: translate(-50%, -50%); */
  /*   transform: translate(-50%, -50%); */
}
