/* CSS files add styling rules to your content */

body {
  background-image: url("https://cdn.glitch.com/bec2ef73-e6da-4e87-9aa6-4f01ec436114%2Fbackground.jpg?v=1588947183298");
  margin: 2em;
}


label,div {
  font-family: Arial;
  color: #000000;
  font-weight: bold;
}

#playbutton {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8vw;
}
